{# empty Twig template #}
{%  extends 'base.html.twig' %}

{%  block title %}{{ titre }}{% endblock %}
{% block body %}
    <p> Employé N° : "{{ employe.id }}</p>
    <p> Nom : {{ employe.nom }}</p>
    <p> Salaire : {{ employe.salaire }}</p>
    <p> Lieu : {{ employe.lieu.nom }}</p>
{% endblock %}